* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
        font-family: 'nunito', sans-serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    font-style: italic;
    font-size: 20px;
}

.back {
    padding: 32px 0;
    background-color: #000000;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFF;
    display: block
    
}
.menu .navbar ul li a:hover {
    color: #15a4f9;
}
#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}
.menu label {
    cursor: pointer;
    display: none;
}
@media(max-width:991px) {
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .back {
        padding: 47px 0;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000000;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }
    .container {
        margin: 10px 30px
    }
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
}

.info {
    display: flex;
    justify-content: center;
}

h3 {
    padding: 10px;
    font-size: 30px;
    margin-left: 100px;
    text-align: left;
}
.info-producto1 {
    padding: 30px;
    text-align: left;
    max-width: 1600px;
    margin-left: 30px;
    font-size: 18px;
    font-style: italic;
    
}
.img2 {
    display: flex;
    align-items: left;
}
.info-div {
    padding: 10px;
    margin-left: 140px;
}

/* acordeon */

h1 {
    text-align: center;
    padding: 20px;
    text-shadow: 5px 5px 5px gray;
}

.accordion {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    min-height: 100vh;

}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;

}
.accordion li label {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 1.2;
    padding: 20px;
    margin-bottom: 2px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}
label {
    background-color: black;
    border-radius: 20px;
    color: #ffffff;
}
label::after {
    position: absolute;
    font-size: 32px;
    right: 20px;
    transition: transform 0.5s;
}
.accordion .content {
    text-align: center;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    line-height: 1.2;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked ~ .content {
    max-height: 600px;
    padding: 20px 20px;
}

@media screen and (max-width:700px) {
    .container{
        width: 90%;
    }
}

/* banner inicio */

.container-banner {
    width: 100%;
}
.banner {
    width: 100%;
    height: 65vh;
    background-image: url(/img/banner.jpg);
    background-size: cover;
    background-position: 69%;
    border-radius: 10px;
    margin-top: 30px;
}
.banner-txt {
    padding-top: 100px;
    margin-left: 50px;
}
.bannerh2{
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-align: left;
    font-style: italic;
}
.bannerh6 {
    font-size: 70px;
    color: white;
    font-style: italic;
    margin-bottom: 40px;
}
.btn-banner {
    padding: 10px 10px;
    background-color: black;
    text-transform: uppercase;
    font-style: italic;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 60px;
    font-size: 20px;
    
}

/* footer */
footer {
    background-color: black;
    color: white;
}
.p {
    font-size: 10px;
}
h4 {
    font-size: 20px;
}
